<figure>
    <div class="rs-picture-container">
        <img src="./images/{{painting.file}}" alt="{{painting.altText}}" loading="lazy">
    </div>
    <figcaption>{{painting.caption}}</figcaption>
</figure>