<figure>
    <div class="rs-picture-container">
        <img src="./images/{{painting.file}}" alt="{{painting.altText}}" loading="lazy">
    </div>
    <figcaption>

        {% if painting.caption != "" %}<p class="rs-figure-caption">{{painting.caption}}</p>{% endif %}
        <p class="rs-figure-data">
        {% if painting.status === "sold" %}
            <span class="rs-caption-status">{{painting.status}}</span>
        {% elif painting.status === "reserved" %}
            <span class="rs-caption-status">{{painting.status}}</span>
            {% if painting.price != "" %}<span class="rs-caption-price">{{painting.price}}</span>{% endif %}
        {% else %}
            <span class="rs-caption-price">{{painting.price}}</span>
        {% endif %}
{% if painting.size != "" %}<span class="rs-caption-size">{{painting.size}}</span>{% endif %}
{% if painting.medium != "" %}<span class="rs-caption-medium">{{painting.medium}}</span>{% endif %}
        </p>
    </figcaption>
</figure>