---
title: Caroline Hunter Art
layout: base
cssFiles: ["/index.css"]
jsFiles: ["/index.js"]
eleventyNavigation:
  key: Home
  order: 1
---

<div class="rs-column-wide">
    <h1>Caroline Hunter Art</h1> 
</div>

<article>

    <div class="rs-column flow">
        <p>Caroline is well known for her understated, yet powerful, somewhat
mesmerizing seascapes and for her equally arresting still lifes, which have a distinctive,
almost timeless quality. Often juxtaposing vibrant summer flowers and grasses with
shells, seaweed or sea glass, her intimate connection to Scotland's wild places and a
certain contemplative sensibility resonate throughout her work.</p>

<label for="rsFrameToggle"><input checked type="checkbox" name="rsFrameToggle" id="rsFrameToggle">Show frames</label>

    </div>

    <div class="rs-paintings">
        {% for painting in paintings -%}
            {% include "painting.njk" %}
        {%- endfor %}
    </div>

</article>