.rs-paintings {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
    /* row-gap: var(--space-2xl); */
    justify-content: space-around;
    align-items: flex-start;
    padding-block-start: var(--space-xl);
    margin: var(--space-m);
    margin-block-start: 0;
}

.rs-paintings .rs-picture-container {
    margin: 0;
    border: 5px inset #fff;
    box-shadow:
        0px 0px 0px var(--space-xs) whitesmoke,
        inset 0 var(--space-2xs) var(--space-2xs) calc(var(--space-2xs) * -1) #ccc,
        0 var(--space-m) var(--space-2xs) calc(var(--space-2xs) * -1) #ccc;
    transition: all 0.3s ease-in;
}

.rs-paintings.rs-no-frame .rs-picture-container {
    border: 0;
    box-shadow: none;
    transition: all 0.3s ease-out;
}

.rs-paintings .rs-picture-container>picture {
    margin: var(--space-m);
    border: 2px inset whitesmoke;
    padding: var(--space-xs);
    transition: all 0.3s ease-in;
}

.rs-paintings.rs-no-frame .rs-picture-container>picture {
    margin: 0;
    padding: 0;
    border: 0;
    transition: all 0.3s ease-out;
}

.rs-paintings .rs-picture-container>picture>img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 4px;
    transition: all 0.3s ease-in;
}

.rs-paintings.rs-no-frame .rs-picture-container>picture>img {
    max-width: 700px;
    transition: all 0.3s ease-out;
}

.rs-paintings figure {
    margin: 0;
}

.rs-paintings figure>figcaption {
    margin-block-start: var(--space-m);
    /* display: none; */
}

.rs-caption-status {
    background-color: var(--rs-colour-ec-dark-blue);
    color: white;
    padding-inline: 0.45rem;
}

.rs-figure-data {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs);
    margin-block-start: var(--space-3xs);
}

.rs-caption-price {
    font-weight: bold;
}

label[for="rsFrameToggle"] {
    display: block;
    width: fit-content;
    border-radius: 9999px;
    margin: var(--space-l) auto 0 auto;
    padding: var(--space-2xs) var(--space-s);
    background-color: var(--rs-colour-light-grey);
    cursor: pointer;
}

label[for="rsFrameToggle"] input {
    margin-inline-end: var(--space-xs);
}