---
title: Caroline Hunter Art
layout: base
cssFiles: ["/index.css"]
jsFiles: ["/index.js"]
eleventyNavigation:
  key: Home
  order: 1
---

<div class="rs-column-wide">
    <h1>Caroline Hunter Art</h1>

    <nav>
        <ul>
            <li><a href="#">Land &amp; Sea</a></li>
            <li><a href="#">Sea</a></li>
            <li><a href="#">Still life</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</div>

<article>

    <div class="rs-column flow">
        <p>Caroline is well known for her understated, yet powerful, somewhat
mesmerizing seascapes and for her equally arresting still lifes, which have a distinctive,
almost timeless quality. Often juxtaposing vibrant summer flowers and grasses with
shells, seaweed or sea glass, her intimate connection to Scotland's wild places and a
certain contemplative sensibility resonate throughout her work.</p>

<label for="rsFrameToggle"><input checked type="checkbox" name="rsFrameToggle" id="rsFrameToggle">Show frames</label>

    </div>

    <div class="rs-paintings">
        {% set paintingCount = 1 %}
        {% for painting in paintings -%}
            {% include "painting.njk" %}
            {% set paintingCount = paintingCount + 1 %}
        {%- endfor %}
    </div>

</article>